body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

.Learn{
    display: flex;
    padding: 2px;
    margin-right: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
}